html {
  overflow-x: hidden;
}

html, html a, body {
  -webkit-font-smoothing: antialiased;
}

body {
  position: relative;
  font-family: Hind, sans-serif;
}

p {
  font-size: 18px;
  font-weight: 400;
  font-family: Hind, sans-serif;
  color: #a6a7aa;
  line-height: 1.4;
  margin-bottom: 15px;
}

em,
li,
li a {
  font-size: 16px;
  font-weight: 500;
  font-family: Hind, sans-serif;
  color: #515769;
}

a {
  font-family: Hind, sans-serif;
  color: #81848f;
  outline: 0;
}

a:focus, a:hover, a:active {
  outline: 0;
  color: #999caa;
  text-decoration: none;
}
span {
  font-size: 14px;
  font-weight: 400;
  font-family: Hind, sans-serif;
  color: #bfc1c7;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 700;
  font-family: Hind, sans-serif;
  color: #515769;
  line-height: 1.4;
  margin: 0 0 15px;
}

h1 > a, h2 > a, h3 > a, h4 > a, h5 > a, h6 > a {
  color: #515769;
}

h1 > a:hover, h2 > a:hover, h3 > a:hover, h4 > a:hover, h5 > a:hover, h6 > a:hover {
  color: #999caa;
  text-decoration: none;
}

h1 > a:focus, h2 > a:focus, h3 > a:focus, h4 > a:focus, h5 > a:focus, h6 > a:focus {
  text-decoration: none;
}

h1 {
  font-size: 40px;
}

h2 {
  font-size: 30px;
}

h3 {
  font-size: 22px;
}

h4 {
  font-size: 22px;
}

/*------------------------------------------------------------------
    [Text Colors]
------------------------------------------------------------------*/
.color-base {
  color: #17bed2 !important;
}

.color-white {
  color: #fff !important;
}

.color-blue {
  color: #0099cc !important;
}

.color-heading {
  color: #515769 !important;
}

.color-subtitle {
  color: #a6a7aa !important;
}

.color-link {
  color: #81848f !important;
}

.color-link-hover {
  color: #999caa !important;
}

.color-sky-light {
  color: #fafafa !important;
}



/*------------------------------------------------------------------
    [Background Colors]
------------------------------------------------------------------*/
.bg-color-base {
  background: #17bed2 !important;
}

.bg-color-white {
  background: #fff !important;
}

.bg-color-blue {
  background: #0099cc !important;
}

.bg-color-orange {
  background: #eb8f34 !important;
}

.bg-color-heading {
  background: #515769 !important;
}

.bg-color-subtitle {
  background: #a6a7aa !important;
}

.bg-color-link {
  background: #81848f !important;
}

.bg-color-link-hover {
  background: #999caa !important;
}

.bg-color-sky-light {
  background: #fafafa !important;
}

/*------------------------------------------------------------------
    [Content]
------------------------------------------------------------------*/
.content {
  padding-top: 40px;
  padding-bottom: 40px;
}

.content-sm {
  padding-top: 60px;
  padding-bottom: 60px;
}

.content-md {
  padding-top: 80px;
  padding-bottom: 80px;
}

.content-lg {
  padding-top: 100px;
  padding-bottom: 100px;
}

.content-heading {
  font-family: Hind, sans-serif;
  margin: 0;
  position: relative;
  margin-bottom: 26px;
  text-transform: uppercase;
  color: #515769;
}

.content-heading .border {
  display: block;
  width: 100%;
  bottom: 0;
  height: 3px;
  position: absolute;
  background: #fff;
}
.content-heading .border-black {
  display: block;
  width: 100%;
  bottom: 0;
  height: 3px;
  position: absolute;
  background: #515769;
}


/*------------------------------------------------------------------
    [Header]
------------------------------------------------------------------*/
/* Fixed Top */
.navbar-fixed-top .navbar-collapse {
  max-height: 100%;
}

/* Navbar */
.header .navbar {
  margin-bottom: 0;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  transition-duration: 300ms;
  transition-property: all;
  transition-timing-function: cubic-bezier(0.7, 1, 0.7, 1);
}

/* Navbar Toggle */
.header .navbar-toggle {
  width: 25px;
  height: 25px;
  border: none;
  padding: 0;
  margin: 35px 0;
}

.header .navbar-toggle .toggle-icon {
  position: relative;
  width: 21px;
  height: 1px;
  display: inline-block;
  background: #515769;
  transition-duration: 300ms;
  transition-property: all;
  transition-timing-function: cubic-bezier(0.7, 1, 0.7, 1);
}

.header .navbar-toggle .toggle-icon:before, .header .navbar-toggle .toggle-icon:after {
  position: absolute;
  left: 0;
  background: #515769;
  content: " ";
}

.header .navbar-toggle .toggle-icon:before {
  width: 10px;
  height: 1px;
  bottom: 10px;
  -webkit-transform: rotate(0);
  -moz-transform: rotate(0);
  transform: rotate(0);
  transition-duration: 300ms;
  transition-property: all;
  transition-timing-function: cubic-bezier(0.7, 1, 0.7, 1);
}

.header .navbar-toggle .toggle-icon:after {
  width: 16px;
  height: 1px;
  top: -5px;
  -webkit-transform: rotate(0);
  -moz-transform: rotate(0);
  transform: rotate(0);
  transition-duration: 300ms;
  transition-property: all;
  transition-timing-function: cubic-bezier(0.7, 1, 0.7, 1);
}

.header .navbar-toggle:hover .toggle-icon {
  background: #ffa800;
  transition-duration: 300ms;
  transition-property: all;
  transition-timing-function: cubic-bezier(0.7, 1, 0.7, 1);
}

.header .navbar-toggle:hover .toggle-icon:before, .header .navbar-toggle:hover .toggle-icon:after {
  width: 21px;
  height: 1px;
  background: #ffa800;
  transition-duration: 300ms;
  transition-property: all;
  transition-timing-function: cubic-bezier(0.7, 1, 0.7, 1);
}

.header .navbar-toggle:hover .toggle-icon.is-clicked {
  background: rgba(81, 87, 105, 0);
}

/* Navbar Logo */
.header .logo {
  width: 160px;
  height: 100px;
  float: left;
  max-height: 95px;
  line-height: 65px;
}

.header .logo-wrap {
  display: inline-block;
  padding: 15px 0;
}

.header .logo-wrap:focus, .header .logo-wrap:hover {
  text-decoration: none;
}

.header .logo-img {
  display: inline-block;
  width: 153px;
  height: auto;
  max-width: 100%;
  max-height: 100%;
  vertical-align: middle;
}

.header .logo-img-main {
  display: inline-block;
  transition-duration: 400ms;
  transition-property: all;
  transition-timing-function: cubic-bezier(0.7, 1, 0.7, 1);
}

.header .logo-img-active {
  display: none;
  transition-duration: 400ms;
  transition-property: all;
  transition-timing-function: cubic-bezier(0.7, 1, 0.7, 1);
}

/* Navbar */
.header .navbar-nav {
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}

/* Nav */
.header .nav-item {
  position: relative;
  display: block;
}

.header .nav-item:last-child .nav-item-child {
  padding-right: 0;
}

.header .nav-item.active .nav-item-hover:after {
  opacity: 1;
  transition-duration: 400ms;
  transition-property: all;
  transition-timing-function: cubic-bezier(0.7, 1, 0.7, 1);
}

.header .nav-item:hover .nav-item-hover:after {
  opacity: 1;
  transition-duration: 400ms;
  transition-property: all;
  transition-timing-function: cubic-bezier(0.7, 1, 0.7, 1);
}

.header .nav-item-child {
  position: relative;
  display: block;
  font-size: 24px;
  font-weight: 600;
  font-family: Hind, sans-serif;
  color: #fff;
  /*text-transform: uppercase;*/
  line-height: 55px;
  padding: 20px;
  transition-duration: 300ms;
  transition-property: all;
  transition-timing-function: cubic-bezier(0.7, 1, 0.7, 1);
}

.header .nav-item-child:hover, .header .nav-item-child:focus {
  background: inherit;
}

.header .nav-item-hover {
  position: relative;
}

.header .nav-item-hover:after {
  position: absolute;
  top: 45px;
  left: 0;
  width: 9px;
  height: 2px;
  background: #ffa800;
  opacity: 0;
  content: " ";
  transition-duration: 400ms;
  transition-property: all;
  transition-timing-function: cubic-bezier(0.7, 1, 0.7, 1);
}

/*------------------------------------------------------------------
    [Promo Block]
------------------------------------------------------------------*/
.banner-index {
  padding: 85px 0 20px;
  margin: 0;
}

#banner-index ul {
  padding: 0;
  margin: 0;
}

#banner-index ul li {
  list-style: none;
  padding: 0;
  margin: 0;
}
.banner-index .logo-rolimnet-fibra {
    position: relative;
    height: 300px;
    width: 350px;
    vertical-align: bottom;
}

.banner-index .logo-rolimnet-fibra img {
    position: absolute;
    bottom: 0;
}

.banner-index .banner-index-planos {
  font-size: 48px;
  color: #fff;
  padding: 0;
  margin: 0;
  line-height: 1;
}

.banner-index .banner-index-velocidade {
  font-size: 28px;
  color: #fff;
  line-height: 20px;
}

.banner-index .banner-index-down-up {
  font-size: 12px;
  color: #fff;
  margin-top: -18px;
}

.banner-index p {
  font-size: 12px;
  color: #fff;
}
.banner-index p a{
  font-size: 12px;
  color: #fff;
  text-decoration: underline;
}
.banner-index p a:hover, a:focus {
  color: #ea8e05;
  text-decoration: underline;
}

.banner-index span {
  padding: 0;
  margin: 0;
  font-size: 24px;
  color: #fff;
}

.banner-index h1 {
  padding: 0;
  margin: 0;
  font-size: 63px;
  color: #fff;
  line-height: 32px;
}

.banner-index .planos .text {
  padding: 0;
  margin: 0;
}

.banner-index .planos .text li {
  padding-left: 15px !important;
  position: relative;
  display: block;
  line-height: 20px;
}

.banner-index .planos .text li:before {
  font-family: 'Hind';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  content: ">";
  position: absolute;
  top: 0;
  left: 0;
  font-size: 18px;
  color: #ea8e05;
}

/*------------------------------------------------------------------
    [Central do Cliente]
------------------------------------------------------------------*/

#centraldocliente ul {
  padding: 0;
  margin: 0;
}

#centraldocliente ul li {
  list-style: none;
  padding: 0;
  margin: 0;
}

.centraldocliente {
  position: relative;
  padding: 0;
  margin: 0;
  clear: both;
  color: #fff;
}

.centraldocliente li {
  padding-left: 15px !important;
  position: relative;
  display: block;
  margin-bottom: 6px !important;
  line-height: 20px;

}

.centraldocliente li:before {
  font-family: 'Hind';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  content: ">";
  position: absolute;
  top: 0;
  left: 0;
  font-size: 18px;
  color: #fff;
}

/*------------------------------------------------------------------
    [Empresa]
------------------------------------------------------------------*/

.empresa-img .familia {
  width: 100px;
  height: 100px;
  float: left;
  max-height: 95px;
  line-height: 65px;
}

.empresa-img .familia-img {
  display: inline-block;
  width: 500px;
  height: auto;
  max-width: 100%;
  max-height: 100%;
  vertical-align: middle;
}


/*------------------------------------------------------------------
    [Internet]
------------------------------------------------------------------*/

.internet .cidades-uf {
  background: #0099cc;
  margin:15px;
  padding:10px;
  border-radius: 10px;
}

.internet .cidades-uf p{
  margin: 0;
  padding: 0;
  color: #3498db;
}

.internet .cidades-uf label{
  color: #fff;
  font-size: 22px;
}

.internet .nota {
  position: relative;
  padding: 0;
  margin: 0;
  clear: both;
  color: #fff;
}

.internet .nota li {
  padding-left: 15px !important;
  position: relative;
  display: block;
  margin-bottom: 6px !important;
  line-height: 20px;
}

.internet .nota li:before {
  font-family: 'Hind';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  content: ">";
  position: absolute;
  top: 0;
  left: 0;
  font-size: 18px;
  color: #ea8e05;
}

.fibra-up {
  background: #eb8f34;
}

.footer{
   padding-top: 30px;
  width:100%;
}

.footer-content{
  padding:10px 0 0;
  border-top:1px solid #dfe3e4;
  font-weight:400;
}

.copyright {
  border-top: 1px solid #3f3f3f;
}

.copyright-breather {
  padding-top: 15px;
  padding-bottom: 10px;
}

.heart {
  color: #e74c3c;
}
.form-wrapper {
  background: #737373;
  padding: 40px;
   border-radius: 6px;
}


.get-in-grid-right {
  background: #f2f2f2;
  padding: 20px;
}

.get-in-grid-right input[type="text"]{
  outline:none;
  color:#999;
  font-size:14px;
  width:81%;
  padding:13px 10px;
  background:#fff;
  border:1px solid #e1e1e1;
}

.get-in-grid-right input[type="submit"]{ 
  width:15%;
  font-size:15px;
  margin: 0 0 0 3%;
}

.panel-group {
  padding-top: 50px;
}

.panel-default {
  border-radius: 0;
  border: none;
  background: none;
  margin-bottom: 0;
  padding-bottom: 14px;
}

.panel-default > .panel-heading {
  border: none;
  background: none;
  padding: 0;
}

.panel-default > .panel-heading + .panel-collapse .panel-body {
  border: none;
  padding: 0 0 0 32px;
}

.panel-default h5 {
  font: 300 19px 'Hind', Arial, sans-serif;
  /*font-family: 300 19px 'Hind';*/
  padding: 0;
  margin: 0 0 5px;
}

.panel-group .panel+.panel {
  margin-top: 15px;
}

.panel-default .accordion-toggle:before {
  width: 21px;
  height: 21px;
  display: inline-block;
  font-family: FontAwesome;
  content: "\f056";
  border-radius: 50%;
  margin-right: 10px;
  position: relative;
  top: 4px;
}

.panel-default .collapsed:before {
  font-family: FontAwesome;
  content: "\f055";
}
/*.panel-default .panel-title:hover .collapsed:before {
  background-color: #e54a1a;
}*/
.panel-default .accordion-toggle,
.panel-default .accordion-toggle:focus,
.panel-default .accordion-toggle:hover,
.panel-default .accordion-toggle:active {
  color: #0099cc;
  text-decoration: none;
}

.panel-default .collapsed {
  color: #515769;
}

.atendimento select{
  outline:none;
  font-size:14px;
  width:98%;
  height: 10%;
  padding:13px 10px;
  background:#fff;
  border:1px solid #e1e1e1;
}


.atendimento-cidade {
background: #f2f2f2;
  padding:10px;
}

.carousel-indicators {
  bottom: 0;
}